.title {
  text-align: center;
  font-size: 2rem;
  color:  #1c1c9e;
  margin-bottom: 20px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.searchFilterWrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

.searchBar,
.filterDropdown {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.studentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.studentTable th,
.studentTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.studentTable th {
  background-color:  #1c1c9e;
  color: white;
}

.oddRow {
  background-color: #f2f2f2;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.portfolioLink {
  color:  #1c1c9e;
  text-decoration: none;
}

.portfolioLink:hover {
  text-decoration: underline;
}

.actions button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 5px;
}

.editBtn {
  color: green;
}

.deleteBtn {
  color: red;
}

.noData {
  text-align: center;
  color: #888;
}
